
@import 'mixins';



/********** @VARIABLES *********/

$brand: #cb2026;
$ultra-light: #fafafa;
$light: #eeeded;
$dark: #222222;
$error: #ff4a4a;
$brown: #3a1e1a;
$yellow: #ffcc00;

$courses: #0575B9;
$research: #8c567a;
$interviews: #25807F;
$lectures: #58595B;

$nav-height: 55px;
$mobile-margins: 15px;

$transitions: .25s;


/********** @RESET *********/

@import 'reset';



/********** @TYPE *********/

body{
	font-size: 15px;
	background: $light;
	font-family:"A2 Regular Medium", sans-serif; font-weight:500; font-style:normal;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	border-bottom: 2px solid;
}

.centered{
	text-align: center;
}

.righted{
	text-align: right;
}

h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	line-height: 1.3;
}

h1,.h1{
	font-size: 3.25em;
	line-height: 1em;
}

h2,.h2{
	font-size: 2.2em;
}

h3,.h3{
	font-size: 1.8em;
}

h4,.h4{
	font-size: 1em;
}

h5,.h5{
	font-size: .85em;
}

h6,.h6{
	font-size: .6em;
}

p {
	font-size: 1.25em;
}

ol {
	line-height: 1.75em;
}

//lg
@media (min-width: 1681px) {
	body{
		font-size: 16px;
	}
}

//sm
@media (max-width: 992px) {
	body{
		font-size: 15px;
	}

	h1,.h1{
		font-size: 2.5em;
	}

	h2,.h2{
		font-size: 1.25em;
	}

	h3,.h3{
		font-size: 1.1em;
	}

} 

//xs
@media (max-width: 767px) {
	body{
		font-size: 14px;
	}

	h1,.h1{
		font-size: 2em;
	}

	h2,.h2{
		font-size: 1.25em;
	}

	h3,.h3{
		font-size: 1.1em;
	}

	h4,.h4{
		font-size: 1em;
	}

	h5,.h5{
		font-size: .7em;
	}

	h6,.h6{
		font-size: .7em;
	}

}

strong, b, .bold{
	font-family: "A2 Regular Bold", Futura, sans-serif;
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.white, .white a{ color: $ultra-light; }

.dark, .dark a{ color: $dark; }

.brand, .brand a{ color: $brand; }

.courses, .courses a{ color: $courses; }

.research, .research a{ color: $research; }

.interviews, .interviews a{ color: $interviews; }

.lectures, .lectures a{ color: $lectures; }

.brown-yellow{ color: $yellow; }


.icon, .icon-custom {
	&:after {
	    content: attr(data-icon);
		font-size: 30px;
		line-height: 100%;
		vertical-align: middle;
		position: relative;	
	}
}

.icon{
	&:after {
	    font-family: "modern_pictograms_proregular";
	}
	&.large:after{
		font-size: 72px;
	}
}

.icon-custom {
	&:after {
	    font-family: "icons_custom";
	    font-size: 4em;
	    margin-left: -0.125em;
	}
	&.large:after{
		font-size: 90px;
	}
}

.overlay {
	@include linear-gradient( to top, rgba($dark,0.5), rgba($dark,0.9) 30%, rgba($dark,0.9) 70%, rgba($dark,0.5) 100% );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.well-dark {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $ultra-light;
  @include box-shadow-inset();
}



/********** @MARGINS AND PADDING *********/

.m0{
	margin: 0;
}

@for $i from 1 through 9 {
  .m#{$i} { 
  	margin-bottom: 1em * $i;
  	margin-top: 1em * $i;
  }
}

@for $i from 1 through 9 {
  .mb#{$i} { 
  	margin-bottom: 1em * $i;
  }
}

@for $i from 1 through 9 {
  .mt#{$i} { 
  	margin-top: 1em * $i;
  }
}

@for $i from 1 through 9 {
  .ml#{$i} { 
  	margin-left: 1em * $i;
  }
}

@for $i from 1 through 9 {
  .mr#{$i} { 
  	margin-right: 1em * $i;
  }
}

.padded-less{
	padding: 2.5% 0;
}

.padded{
	padding: 4% 4% 4.25%;
}

.padded-more{
	padding: 8% 8% 9%;
}



/********** @BACKGROUNDS *********/

.bg-white{
	background: white;
}

.bg-ultra-light{
	background: $ultra-light;
}

.bg-light{
	background: $light;
}

.bg-brand{
	background: $brand;
}

.bg-dark{
	background: $dark;
}

.bg-brown{
 	background: $brown;
}

.bg-courses{
 	background: $courses;
 	&-dark {
 		background: darken($courses,7);
 	}
}

.bg-research{
 	background: $research;
 	&-dark {
 		background: darken($research,7);
 	}
}

.bg-interviews{
 	background: $interviews;
 	&-dark {
 		background: darken($interviews,7);
 	}
}

.bg-lectures{
 	background: $lectures;
 	&-dark {
 		background: darken($lectures,7);
 	}
}

.bg-gradient{
 	@include gradient();
}

.shadow{
	@include box-shadow(0,0,1px,rgba(53,50,50,.35));
}

.yellow{
	background: yellow;
}

.pink{
	background: pink;
}

.orange{
	background: orange;
}

.green{
	background: lime;
}

.background-cover{
	background-size: cover;
}

.background-mask-light{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		//z-index: 1;
		background: rgba(255,255,255,.5);
		@include transition(all);
	}
}

.background-mask-dark{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		//z-index: 1;
		background: rgba(40,30,30,.75);
		@include transition(all);
	}
}

.border-ultralight{ @include border($ultra-light); }
.border-light{ @include border($light); }
.border-brand{ @include border($brand); }
.border-courses{ @include border($courses); }
.border-research{ @include border($research); }
.border-interviews{ @include border($interviews); }
.border-lectures{ @include border($lectures); }

.border-top-courses{
	border-top: 2px solid $courses;
}

.border-top-research{
	border-top: 2px solid $research;
}

.border-top-interviews{
	border-top: 2px solid $interviews;
}

.border-top-lectures{
	border-top: 2px solid $lectures;
}

.border-bottom-brand{
	border-bottom: 4px solid $brand;
}

.border-bottom-courses{
	border-bottom: 4px solid $courses;
}

.border-bottom-research{
	border-bottom: 4px solid $research;
}

.border-bottom-interviews{
	border-bottom: 4px solid $interviews;
}

.border-bottom-lectures{
	border-bottom: 4px solid $lectures;
}


/********** @STRUCTURE AND POSITION *********/

#content {
	padding-top: $nav-height;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.vertical-center{
	position: absolute;
	left: 49%;
	top: 49%;
	@include transform(translate(-50%,-50%));	
}

.display-block{
	display: block;
}

.crop{
	overflow: hidden;
}



/********** @ANIMATIONS *********/

$slide-distance-vertical: 20px;

.fade-in{
	@include animation(fade-in, 1s, ease, 0s, 1);
}
@include keyframes(fade-in){
	0% { opacity: 0;  }
	100% { opacity: 1; }	
}

.fade-out{
	@include animation(fade-out, 1s, ease, 0s, 1);
}
@include keyframes(fade-out){
	0% { opacity: 1;  }
	100% { opacity: 0; }	
}

.fade-in-slide-up{
	@include animation(fade-in-slide-up, .5s, ease, 1s, 1);
	position: relative;
}
@include keyframes(fade-in-slide-up){
	0% { opacity: 0; top: $slide-distance-vertical; }
	50% { opacity: 1; top: $slide-distance-vertical / 3; }
	100% { opacity: 1; top: 0px; }	
}

.fade-in-slide-down{
	@include animation(fade-in-slide-down, .5s, ease, 1s, 1);
	position: relative;
}
@include keyframes(fade-in-slide-down){
	0% { opacity: 0; top: -1 * $slide-distance-vertical; }	
	50% { opacity: 1; top: -1 * ($slide-distance-vertical / 3); }
	100% { opacity: 1; top: 0px; }	
}



/********** @FANCY OBJECTS *********/

.block{
	position: relative;
	width: 100%;
	display: block;
	z-index: 1;

	&.crop{
		overflow: hidden;
	}

	&.active{

	}

	&.activated{

	}

}

.block-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-position: center top;	
	
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: rgba(0,0,0,0);
		@include transition(all);
	}
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.nav{
	height: $nav-height;

	li{

		&:hover{
			border-bottom: 4px solid $dark;
		}

		a{
			box-sizing: padding-box;
			display: block;
			padding: 0 15px;
			font-size: 19px;
			@include transition();

			&.white{
				color: white;
			}
		}

	}	

	&.nav-inline{
		li{
			display: inline-block;			
			height: $nav-height - 0px;			
			line-height: $nav-height - 0px;
			vertical-align: middle;			
			margin-right: 5px;
			position: relative;
			top: 0px;
			padding-top: 0px;
		}
	}

}

#edit-button{
	position: fixed;
	bottom: 80px;
	right: 30px;
	z-index: 10000;
	width: 40px;
	height: 40px;
	display: table;
	@include transition();
	background: #00f;
	padding: 5px 9px;

	&:hover{
		bottom: 83px;
		background: #11f;
	}
}

#edit-button-2{
	position: fixed;
	bottom: 130px;
	right: 30px;
	z-index: 10000;
	width: 40px;
	height: 40px;
	display: block;
	@include transition();
	background: #f8ed31;
	padding: 5px 9px;


	&:hover{
		bottom: 133px;
	}

}

@media (max-width: 992px) {

.nav{

	li{
		a{
			font-size: 17px;
			padding: 0 7px;
		}

	}	

	&.nav-inline{
		li{
			margin-right: 2px;
			position: relative;
			top: 3px;
		}
	}

}


}

