
@import "setup";
@import "utilities";

.nav a{
	color: $dark;
	&:hover,&:focus{
		color: $brand;
	}

}

/********** @STRUCTURE *********/



#header {
  height: $nav-height;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 7;

  .menu-toggle{
  	position: relative;
  	top: 10px;
  }

  #logo-cm{
  	height: $nav-height;
  	img{
  		max-width: 180px;
	  	width: 180px;
	   	position: relative;
	  	top: 5px; 	  	
	}
  }
  .container-fluid{
  	padding: 0 30px;
  }

}

#headerfix{
	height: 50px;
}

.home{

	#headerfix{
		height: 90px;
	}
}

#collection-intro{
	@include transition(all,.5s);
	padding-top: 4%;
}


/********** @LOGO *********/

.logo-static{
	display: none;
}

@-moz-document url-prefix(){ 
	.logo-animated{
		display: none;
	}
	.logo-static{
		display: block;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.logo-animated{
		display: none;
	}
	.logo-static{
		display: block;
	}
}

.logo-animated{

	#alogo-creative{
		@include transform(translate(0,0%));		
	}

	#alogo-mind{
		@include transform(translate(0,0%));
	}

	#alogo-brown path{
		fill: $brand;			
	}

	#alogo-dot-1{
		@include transform(translate(0,1000%));		
		fill: $brand;	
	}	

	#alogo-dot-2{
		@include transform(translate(0,0%));	
		fill: $brand;					
	}		

}

#site-description{

	&.active{
		#alogo-creative{
			@include animation("creative",7s,.5s,ease,1);
		}

		#alogo-mind{
			@include animation("mind",7s,.5s,ease,1);
		}

		#alogo-brown path{
			@include animation("brown",7s,.5s,ease,1);			
		}

		#alogo-dot-1{
			@include animation("dot1",7s,.5s,ease,1);	

		}	

		#alogo-dot-2{
			@include animation("dot2",7s,.5s,ease,1);			
		}			

	}

}

@include keyframes("creative"){
	0%{ @include transform(translate(0,0)); }
	25%{ @include transform(translate(0,60%)); }
	50%{ @include transform(translate(0,-35%)); }
	75%{ @include transform(translate(0,55%)); }
	100%{ @include transform(translate(0,0)); }

}

@include keyframes("mind"){
	0%{ @include transform(translate(0,0%)); }
	25%{ @include transform(translate(0,-50%)); }
	50%{ @include transform(translate(0,85%)); }
	75%{ @include transform(translate(0,-85%)); }
	100%{ @include transform(translate(0,50%)); }
}

@include keyframes("brown"){
	0%{ fill: $brand; }
	25%{ fill: $courses; }
	50%{ fill: $interviews; }
	75%{ fill: $research; }
	100%{ fill: $brand; }
}

@include keyframes("dot1"){
	0%{ fill: $brand; @include transform(translate3d(0,1000%,-1px)); }
	25%{ fill: $courses; @include transform(translate3d(0,0%,-1px)); }
	50%{ fill: $interviews; @include transform(translate3d(0,-100%,-1px)); }
	75%{ fill: $research; @include transform(translate3d(0,1000%,-1px)); }
	100%{ fill: $brand; @include transform(translate3d(0,1000%,-1px)); }
}

@include keyframes("dot2"){
	0%{ fill: $brand; @include transform(translate3d(0,0%,-1px)); }
	25%{ fill: $courses; @include transform(translate3d(0,700%,-1px)); }
	50%{ fill: $interviews; @include transform(translate3d(0,0%,-1px)); }
	75%{ fill: $research; @include transform(translate3d(0,1000%,-1px)); }
	100%{ fill: $brand; @include transform(translate3d(0,0%,-1px)); }
}



/********** @CATEGORY *********/

.category-button{
	padding: 34% 0;
	background: $ultra-light;
	display: block;
	h3 {
		margin: 0;
	}
}

#category-header, #collection-header, .collection-title {
	line-height: 2em;
	li {
		display: inline;
	}
	a {
		white-space: nowrap;
	}
}

#collections .row {
	height: 520px;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.25;
	}
}

#collections article {
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
}

.collection-title {
	position: relative;
}


/********** @DOTS *********/

$dot-width: 13px;
$dot-margin: 12px;

.dots{
	width: ($dot-width * 4) + ($dot-margin*4) + 5;
	margin: 0 auto;

	.dot{
		width: $dot-width;
		height: $dot-width;
		@include border-radius($dot-width/2);
		display: inline-block;
		@include transition(all,.25s);
	}

	.dot-1,.dot-2,.dot-3{
		margin-right: $dot-margin;
	}

}

.break.active{
	.dot-1{
		@include animation("break1",1.5s,0s,ease,1);			
	}
	.dot-2{
		@include animation("break2",1.5s,0s,ease,1);			
	}
	.dot-3{
		@include animation("break3",1.5s,0s,ease,1);			
	}
	.dot-4{
		@include animation("break4",1.5s,0s,ease,1);			
	}	

}

@include keyframes("break1"){
	0%{ @include transform(translate(0,0)); }
	50%{ @include transform(translate(-25%,-150%)); }
	100%{ @include transform(translate(0,0%)); }
}

@include keyframes("break2"){
	0%{ @include transform(translate(0,0)); }
	50%{ @include transform(translate(0,50%)); }
	100%{ @include transform(translate(0,0%)); }
}

@include keyframes("break3"){
	0%{ @include transform(translate(0,0)); }
	50%{ @include transform(translate(5%,250%)); }
	100%{ @include transform(translate(0,0%)); }
}

@include keyframes("break4"){
	0%{ @include transform(translate(0,0)); }
	50%{ @include transform(translate(20%,-75%)); }
	100%{ @include transform(translate(0,0%)); }
}


/********** @GUIDEPOST *********/

.sign{
	padding-left: 30px;
	padding-right: 30px;

	h4{
		font-size: 21px;
	}
}



/********** @BACK/SHARE *********/

$icon-width: 40px;
$icon-margin: 15px;

#back-link {
	.text {
		display: block;
		margin-top: 0.25em;
	}
	.icon:after{
		left: -0.05em;
	}
}

.home #back-link .icon:after {
	display: inline-block;
	@include transform( rotate(90deg) );
}	

.share-icons a, #back-link .icon-wrapper {
	text-align: center;
	width: $icon-width;
	height: $icon-width;
	@include border-radius($icon-width/2);
	display: inline-block;
}

.home #share-links {
	color: $brand;
}

.home .share-icons a {
	background: $brand;
}

.share-icons{
	width: ($icon-width * 3) + ($icon-margin*3);
	margin: 0 auto;
	a {
		margin-right: $icon-margin;
		@include transition(transform,1s);

		&:hover{
			@include transform(rotate(360deg) scale(1.25));
		}
	}
	.addthis_button_email{
		margin-right: 0;
	}
	.icon:after{
		top: 5px;
	}
}


/********** @SLIDESHOW *********/

#slideshow {
	position: relative;
}

.home .slides{
	li{
		height: inherit;
		-webkit-filter: saturate(75%);
	}
}


.flex-active-slide{
	.slideshow-caption{
		top: 0px;
	}

}

.slide {
	height: 400px;
	overflow-y: auto;
	background-size: cover;
	ol li {
		line-height: 1.25em;
		margin-bottom: 0.5em;
	}
}

.slide .info {
	width: 80%;
	@extend .vertical-center;
	.icon:after, .icon-custom:after {
		margin-left: 0;
	}
}

.slides .overlay {
	@extend .overlay;
	display: block;
	padding: 5% 10%;
}


/********** @SCROLLY *********/

#scrolly{
	position: fixed;
	bottom: 0px;
	height: 110px;
	width: 100%;
	left: 0;
	background: $light;
	z-index: 3;
}


/********** @MEGANAV *********/

.menu-toggle {
	@extend .icon;
	&:after {
		content: "\00C2";
		vertical-align: -3px;
		color: lighten($dark,40);
	}
}
.modal-open .menu-toggle:after {
	content: "\FB02";
}

#megaNav{

	top: $nav-height;
	@extend .bg-light;
	width: 100%;
	height: 100%;
	padding-bottom: $nav-height;

	.modal-dialog{
		width: 100%;
		margin: 0;
	}

	.modal-content{
		@include border-radius($radius: 0px);
		@include box-shadow($x: 0px,  $y: 0px,  $size: 0px,  $shadow-color: rgba(50, 50, 50, .25));
		border: none;
		background: none;

	}

	.h4 {
		display: block;
		width: 100%;
	}

	ul > li {
		margin-bottom: 1em;
		> a {
			display: block;
			position: relative;
			padding-bottom: 0.125em;
			padding-right: 1.25em;
			border-bottom: 2px solid transparent;
			@include transition(border);
			&:hover, &.open {
				border-color: white;
			}
		}
	}

	li {
		font-size: 1.25em;
		line-height: 1em;
		position: relative;
		ol {
			font-size: 0.675em;
			margin: 1em 0 0 2.25em;
			display: none;
			li {
				margin-bottom: 0.5em;
			}
			a {
				border-bottom: 1px solid transparent;
				@include transition(border);
				&:hover {
					border-color: white;
				}
			}
		}
		.open {
			&:after {
				content: "\00B7";
				font-family: "modern_pictograms_proregular";
				right: 0;
				@extend .vertical-center;
				left: inherit;
			}
			+ ol {
				display: block;
			}
		}
	}

}

/********** @CATEGORY *********/

.category, .single-collections {
	&.category-courses { color: $courses; }
	&.category-interviews { color: $interviews; }
	&.category-lectures { color: $lectures; }
	&.category-research { color: $research; }
}

.category header .split-list {
	line-height: 1em;
	li {
		margin-bottom: 0.5em;
	}
}


/********** @COLLECTIONS *********/


.story-slide {
	background-color: lighten($dark,20);
	a { 
		color: $ultra-light; 
	}
	.media-type, .description {
		opacity: 0;
		@include transition(opacity);
	}
	&:hover {
		.media-type, .description {
			opacity: 1;
		}
	}
}



/********** @COLLECTION SINGLE *********/

.collection-suffix{
	display: none;
}

.collection-previous,.collection-next{
	opacity: 0;
	@include transition();
	position: relative;
	top: -15px;
}

.story-active{

	#collection-intro{
		padding-top: 0px;
		@include box-shadow($x: 0px,  $y: -4px,  $size: 8px,  $shadow-color: rgba(255, 255, 255, .25));

		.container-fluid{
			padding: 0 30px;
		}
	}

	.collection-previous,.collection-next{
		opacity: 1;
	}		

	.collection-intro-heading{
		padding-top: 15px;
	}

	.story-toggle{
		position: relative;
		top: 7px;
	}

	.collection-title{
		font-size: 19px;
	}

	.collection-prefix{
		display: none;
		font-size: 24px;		
	}

	.collection-suffix{
		display: inline;
		font-size: 24px;
	}

}

#active-story-loading {
	height: 0px;
	@include transition(opacity,.5s);
	opacity: 0;
	.dots{
		width: ($dot-width * 2) + ($dot-margin*2) + 5;
		margin: 0 auto;		
	}
}

#active-story{
	@include transition(all,1.5s);
	height: 0px;
	overflow: scroll;

	.story{
		opacity: 0;
	}
	
	&.story-loading {
		display: block;
		height: 125px;

		.story{
			opacity: 0;
		}

		#active-story-loading{
			height: 125px;
			opacity: 1;

			.dot-1{
				@include animation("load1",4s,.5s,ease,infinite);			
			}
			.dot-2{
				@include animation("load2",4s,.5s,ease,infinite);			
			}
		}	
	}	

	&.story-activated{

		&.story-loading {
			height: 100%;
		}

		#active-story-loading{
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			z-index: -1;
		}	
	
	}

	&.story-loaded{
		#active-story-loading{
			opacity: 0;
		}
		.story{
			opacity: 1;
		}	
	}
}

@include keyframes(load1){
	0%{ @include transform(translate(0,0)); }
	25%{ @include transform(translate(0%,-150%)); }
	50%{ @include transform(translate(0%,75%)); }	
	75%{ @include transform(translate(0%,-200%)); }
	100%{ @include transform(translate(0,0%)); }
}

@include keyframes(load2){
	0%{ @include transform(translate(0,0)); }
	25%{ @include transform(translate(0%,250%)); }
	50%{ @include transform(translate(0%,-150%)); }	
	75%{ @include transform(translate(0%,100%)); }
	100%{ @include transform(translate(0,0%)); }
}

@include keyframes(type){
 from { width: 0; } 
} 



/********** @STORY *********/

.story{
	@include transition(all,.5s);
	padding-bottom: 8%;
	z-index: 2;

	.story-hero {
		width: 80%;
		margin: 0 auto;
		position: relative;
		h1 {
			position: absolute;
		}
	}

	.story-meta{
		@include transition();
	}

	.story-body a{
		@extend .underline;
	}
	.story-content p{
		font-size: 1.625em;
		margin-bottom: 2em;
	}

	.story-callout{
		padding: 5px 15px 10px 15px;
		width: 80%;
		margin-top: 5%;
		margin-left: 10%;
		@include border-radius(2px);
		a{
			text-decoration: none;
		}
	}

}

.story .video {
	width: 800px;
	height: 500px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	h1 {
		z-index: 1;
	}
}

.story .video > * {
	position: absolute;
}

.story-video, .story-video-poster, .story-video-play{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.story-video{
	z-index: -1;

	iframe{
		height: inherit;
	}
}

.story-video-poster {
	background-size: cover;
}

.story-video-play{
	z-index: 1;
	padding-top: 10%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	@include transition();

	.icon:after{
		height: inherit;
		width: 100%;
		font-size: 90px;
		color: white;
		opacity: .9;
		@include text-shadow(0px, 0px, 2px, rgba(0,0,0,.25));
		text-align: center;
		@include transition();
	}

	cursor: pointer;
	&:hover .icon:after{
		opacity: 1;
		@include text-shadow(0px, 0px, 3px, rgba(0,0,0,.5));
	}
}

.story-video-active{
	.story-video{
		z-index: 3;
	}	
}

.flexslider-direction{
	opacity: 1;
	right: -60px;
	&:hover{
		right: -65px;
	}
	&.previous{
		right: auto;
		left: -60px;
		&:hover{
			left: -65px;
		}
	}		
}

.flex-control-nav{
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	margin-top: 30px;
	margin-left: 0;
	ol{
		text-align: center;
	}
	li{	
		a{
			width: 16px;
			height: 16px;	
			background: $ultra-light;
			border: 2px solid;
			@include border-radius(30px);
		}
	}
}

.flex-control-nav li.table-of-contents {
	overflow: visible;
	margin-right: 1.5em;
	a {
		border: none;
		text-indent: 0;
		opacity: 0.5;
		background: transparent;
		&.flex-active {
			opacity: 1;
			background: transparent;
		}
		span {
			vertical-align: 5px;
		}
	}
	.icon:after {
		font-size: 2.75em;
	}
}

@mixin pagination($category) {
	color: $category;
	border-color: $category;
	&.flex-active {
		background: $category;
	}
}

.category-courses .flex-control-nav a { @include pagination($courses); }
.category-interviews .flex-control-nav a { @include pagination($interviews); }
.category-lectures .flex-control-nav a { @include pagination($lectures); }
.category-research .flex-control-nav a { @include pagination($research); }


.stories-nav {
	position: fixed;
	top: 50%;
	width: 100%;
	height: 0;
	z-index: 4;
	a {
		position: relative;
		.preview {
			position: absolute;
		}
		&:hover .preview {
			opacity: 1;
		}
	}
	.prev-story {
		float: left;
		margin-left: 1em;
		.preview {
			right: -320px;
		}
	}
	.next-story {
		float: right;
		margin-right: 1em;
		.preview {
			left: -320px;
		}
	}
	.icon:after {
		font-size: 5em;
	}
	.preview {
		background-size: cover;
		position: absolute;
		top: -100px;
		width: 300px;
		height: 200px;
		font-size: 0.85em;
		opacity: 0;
		@include box-shadow();
		@include transition(opacity);
		.overlay {
			padding-top: 2em;
		}
	}
}

.bread-crumb {
	font-size: 0.9em;
}



/********** @TILES *********/

#grid .col-sm-4{
	.tile-story header {
		max-width: 70%;
		margin: 5em 4%;
	}
	&:nth-child(3n+2) .tile-story header {
		margin: 4em 4% 6em;
	}
	&:nth-child(3n+3) .tile-story header {
		margin: 4em 4% 9em;
	}
}

.tile {
	position: relative;
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		line-height: 1.75em;
		height: 0;
		color: transparent;
		@include transition(all,0.5s);
	}
	&:hover footer {
		color: white;
		padding-top: 0.25em;
		height: 2em;
	}
	.icon {
		min-height: 2em;
		display: inline-block;
	}
}

.tile-category header {
	margin: 0 8% 3em;
}

.tile-story {
	background-size: cover;
	> * {
		position: inherit;
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background: white;
		opacity: 0.9;
	}
	.icon:after {
		font-size: 3.5em;
	}
}

/********** @FOOTER *********/

.footer-logo-brown {
	max-width: 150px;
}

#footer ul a {
	font-size: 1.125em;
}


/********** @RESPONSIVE *********/

@media (min-width: 768px) {

	#grid .tile {
		margin-bottom: 2em;
	}

	.category header .split-list {
		font-size: 1.675em;
	}

	.split-list > ul, .split-list > ol {
		width: 46%;
		float: left;
		+ ul, + ol {
			margin-left: 4%;
		}
	}

	#megaNav {
		.header {
			position: relative;
			.h4 {
				@include transform( rotate(-90deg) );
				position: absolute;
				left: 0;
				top: 50px;
				padding-top: 80%;
			}
		}
		.split-list {
			min-height: 100px;
		}
	}
	
}	

//lg
@media (min-width: 1201px) {
}

//md
@media (max-width: 1200px) {

	.story-activated{

		.collection-intro-heading{
			padding-top: 10px;

			.previous-story-title,.next-story-title{
				display: none;
			}

			.collection-title{
				margin-top: 0;
				font-size: 14px;
			}

			.collection-suffix{
				display: block;
				font-size: 19px;
				margin: 0;
			}

		}

	}

}

//sm
@media (max-width: 992px) {

	.story{
		.story-meta{
			@include transition();
		}
	}

	.flexslider-story{

		.flexslider-direction{
			opacity: 1;
			right: 15px;		

			&:hover{
				right: 15px;
			}

			&.previous{
				right: auto;
				left: 15px;

				&:hover{
					left: 15px;
				}

			}		
		}
	}

} 

//xs
@media (max-width: 767px) {

	#grid .col-xs-6 {
		padding: 2%;
		margin: 0;
		.tile-story header {
			margin: 3em 2% !important;
		}
	}

	#header {
	 	top: 0px;
		overflow: hidden;	  
	}	

	.nav{

		&.nav-inline{
			height: auto;
			float: none;
			

			li{
				display: block;
				height: 30px;
				line-height: 30px;
				margin: 0;
				top: 0;

				a{
					padding: 0;
				}

			}
		}

	}

	.category-button{
		padding: 15% 0;
	}

	.story-activated{

		.col-sm-3,.col-sm-6{
			margin-top: 0;
			margin-bottom: 0;
		}

		.collection-intro-heading{
			padding-top: 10px;

			.previous-story-label,.next-story-label{
				display: none;
			}

			.collection-title{
				display: none;
			}

			.collection-suffix{
				font-size: 14px;
			}

		}

	}	

	#share-links {
		margin-top: 4em;
	}

}
