
@import 'setup';
@import 'utilities';



/********** @STRUCTURE *********/

#topbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: 10;
}

#header{
	height: $header-height;
	position: relative;
	top: 5px;
	z-index: 9;
}

#header-brown {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 8;

  #logo-brown img{
  	width: 100px;
  }

}

#header-cm {
  height: $nav-height;
  @include box-shadow();
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 7;

  .menu-toggle{
  	position: relative;
  	top: 13px;
  }

  #logo-cm{
  	height: $nav-height;

  	img{
  		max-width: 180px;
	  	width: 180px;
	   	position: relative;
	  	top: 5px; 	  	
	}

  }

}



/********** @SLIDESHOW *********/

.flexslider{

	&:hover{
		.flexslider-direction{
			opacity: 1;
		}
	}

}

.slides{
	height: 600px;
	li{
		height: inherit;
	}
}

.slideshow-caption{
	padding: 30px;

	*{
		color: white;
	}

	&.slideshow-caption-1{
		background: $lectures;
	}
	&.slideshow-caption-2{
		background: $lectures;
	}
	&.slideshow-caption-3{
		background: $lectures;
	}
	&.slideshow-caption-4{
		background: $lectures;
	}

}

.flex-active-slide{
	.slideshow-caption{
		@extend .fade-in-slide-up;
	}
	.slideshow-caption-link{
		@extend .fade-in-slide-down;
	}

}



/********** @SEARCH *********/

.modal-backdrop.in{
	background: white;
	z-index: 11;
	width: 100%;
	height: 100%;
	opacity: .8;
}

#searchModal{

	.close{
		position: fixed;
		top: 40px;
		right: 50px;
		opacity: 1;
	}

	.modal-dialog{
		width: 100%;
		margin-top: $header-height;
	}

	.modal-content{
		@include border-radius($radius: 0px);
		@include box-shadow($x: 0px,  $y: 0px,  $size: 0px,  $shadow-color: rgba(50, 50, 50, .25));
		border: none;
		background: none;

	}

}



/********** @RESPONSIVE *********/

//md
@media (max-width: 1200px) {

}

//sm
@media (max-width: 992px) {

} 

//xs
@media (max-width: 767px) {

	.nav{

		&.nav-inline{
			height: auto;
			float: none;
			background: yellow;

			li{
				display: block;
				height: 30px;
				line-height: 30px;
				margin: 0;
				top: 0;

				a{
					padding: 0;
				}

			}
		}

	}

}
