
/********** $FORMS*********/

input,textarea{
	//@include transition(all,.25s);
	padding: 5px;
	border: 1px solid $brand;
	outline: none;
	width: 100%;
	max-width: 300px;
	background: white;

	&:focus{
		outline: none;
		border: 2px solid $brand;
	}
	
	&[type="submit"]{
		background: white;
		padding: 10px 15px;
		color: $brand;
		width: auto;
		text-align: center;
	}
	
	&[type="checkbox"]{
		max-width: 30px;
		display: inline;
	}	
	
}

label{
	font-size: 15px;
	margin-bottom: 4px;
	display: block;
}

gform_wrapper{
	
	.gfield{
		margin-bottom: 20px;
	}
	
	.gfield.gform_validation_container{
		display: none;
	}	
	
	.validation_error{
		font-size: 18px;
		padding: 15px 0;
		border-bottom: 3px solid $error;
		margin-bottom: 15px;
	}
	
	.gfield_error{
		border-bottom: 2px solid $error;
	}
	
	.validation_message{
		font-weight: bold;
		font-size: 11px;
		padding: 5px 0;
	}
	
	.gfield_checkbox{
		label{
			display: inline;
			max-width: none;
		}
		
		li{
			margin-bottom: 5px;
		}
	}	
	
	.gfield_required{
		color: $brand;
		margin-left: 5px;
	}
	
}

.gform_confirmation_message{
	h1{
		font-size: 30px;
		color: white;
		padding: 5px;
	}
	
	font-size: 30px;
}

img.gform_ajax_spinner {
    display: none !important;
}



/********** $FLEXSLIDER *********/

.flexslider li {
	background-size: cover;
}

.flexslider-direction{
	height: 100%;
	z-index: 6;
	position: absolute;
	right: 0;
	width: auto;
	height: 60px;
	top: 48%;
	margin-top: -30px;
	@include transition(all,.25s);
	
	.icon:before{
		font-size: 90px;
		color: $brand;
	}
	
	&.previous{
		right: auto;
		left: 0;
	}
	
	&:hover{
		cursor: pointer;
	}
	
	&.next:hover{
		cursor: pointer;
	}
	
}


.flexslider-controls{	
	position: absolute;
	width: 300px;
	margin-left: -150px;
	z-index: 6;
	left: 50%;
	text-align: center;
	bottom: -40px;
	height: 20px;
	
	li{
		list-style: none;
		margin: 0 7px;
		display: inline-block;
		overflow: hidden;
		
		a{
			display: block;
			text-indent: 9999px;
			width: 15px;
			height: 15px;
			background: darken($light,5);	
			@include border-radius(30px);

			&:hover{
				cursor: pointer;
			}
			
			&.flex-active{
				background: $brand;			
			}	
		}
	}
}



