@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('modernpictogramspro_234.eot');
    src: url('modernpictogramspro_234?#iefix') format('embedded-opentype'),
		url('modernpictogramspro_234.woff') format('woff'),
		url('modernpictogramspro_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons_custom';
    src: url('icons-custom.eot');
    src: url('icons-custom?#iefix') format('embedded-opentype'),
		url('icons-custom.woff') format('woff'),
		url('icons-custom_234.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}